body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    color: #03202F;
    font-weight: 100;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  h1.my-4 {
    font-size: 2.5rem;
    color: #03202F;
    font-weight: bold;
  }
  .jumbotron {
    background-color: #03202F; // Color de fondo personalizado
    color: #ffffff;            // Color de texto
    padding: 2rem;             // Espaciado interno
    border-radius: 1rem;       // Bordes redondeados
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra opcional
  } 
.custom-frame{
  border: 5px solid #03202F ;
  border-radius: 10px;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #03202F;
  color:#03202F;
}
.btn-primary:hover {
  background-color: #03202F;
  color: #ffffff;
}