{% extends 'base.html' %}
{% block title %}Momentum | Autogestión{% endblock %}
{% block page_title %}
  Autogestión
{% endblock %}
{% block content %}
<div class="container">
  <div class="row align-items-center no-gutters mb-4">
    <div class="col-md-5">
      <img src="{{ url_for('static', filename='images/imagen3.jpeg')}}" class="img-thumbnail custom-frame" alt="img1" style="max-width: 75%; height: auto;">
      <h2>Actividad 1</h2>
      <p>Ir al gimnasio fue un gran cambio para mí, ya que desarrollé hábitos buenos que han mejorado mi vida en muchos aspectos. No solo me ayudó físicamente, sino que también fortaleció mi disciplina, y mi mentalidad. Gracias a esa decisión, crecí mucho como persona y aprendí a valorar el esfuerzo y la dedicación diaria.</p>
    </div>
    <div class="col-md-6" style="margin-top: -30px;"> <!-- Ajuste aquí -->
      <center>
        <h2>La autogestión y yo:</h2>
        <p>Para mí, la autogestión ha sido una competencia que desarrollé gracias al <strong style="color:rgb(11, 11, 188);">TEC</strong>, ya que el <strong style="color:rgb(11, 11, 188)">TEC</strong> me permitió ser independiente desde el día en el que entré. Por lo tanto, aprendí que no siempre voy a tener a alguien atrás de mí para decirme qué hacer y cómo hacerlo, y que si quiero algo para mí, tengo que esforzarme y mantener una disciplina.</p>
      </center>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6" style="text-align: right;">
      <h2>Actividad 2</h2>
      <p>Algo muy importante de mi vida, fue que durante el verano de 2024 me puse a estudiar para el examen de admisión de la universidad en Estados Unidos, gracias a esto logré que me dieran una beca en la universidad del sur de Florida, lo cual me abre muchas oportunidades en mi futuro, ya que quiero estudiar ciencias computacionales, un campo difícil en este país.
      </p>
    </div>
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='images/imagen11.jpeg')}}" class="img-thumbnail custom-frame" alt="img2">
    </div>
  </div>
</div>

{% include '_comments.html' %}
{% include '_pagination.html' %}
{% include 'comments.html' %}
{% endblock %}
