{% extends 'base.html' %}
{% block page_title %}
  Momentum | Fotos
{% endblock %}
{% block content %}
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#Imagen1" data-slide-to="0" class="active"></li>
      <li data-target="#Imagen2" data-slide-to="1"></li>
      <li data-target="#Imagen3" data-slide-to="2"></li>
      <li data-target="#Imagen4" data-slide-to="3"></li>
      <li data-target="#Imagen5" data-slide-to="4"></li>
      <li data-target="#Imagen6" data-slide-to="5"></li>
      <li data-target="#Imagen7" data-slide-to="6"></li>
      <li data-target="#Imagen8" data-slide-to="7"></li>
      <li data-target="#Imagen9" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen4.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen5.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen6.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen7.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen8.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px; background-color: #03202F;">
          <img src="{{ url_for('static', filename='images/imagen9.jpeg')}}" class="d-block" alt="fotos" style="max-height: 100%; max-width: 100%; object-fit: contain;">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="background-color: #ad0000;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="background-color: #ad0000;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}