{% extends 'base.html' %}
{% block title %}Momentum{% endblock %}
{% block page_title %}
  Momentum
{% endblock %}
{% block content %}
<div class="container">
  <div class="row align-items-center mb-4">
    <div class="col-md-2">
      <img src="{{ url_for('static', filename='images/imagen1.jpeg')}}" class="img-thumbnail custom-frame" alt="img1">
    </div>
    <div class="col-md-8">
      <h2>Mis datos</h2>
      <p>Nombre: Sebastián Jesús Méndez Gómez<br>
         Edad: 17 años<br>
         Fecha de Nacimiento: 29 de Junio de 2007<br>
         Color Favorito: Rojo
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6" style="text-align: right;">
      <h2>Más sobre mí</h2>
      <p>Hobbies: Programar, leer e ir al gimnasio<br>
        Meta: Convertirme en un desarrollador profesional y graduarme de la carrera de Ciencias computacionales<br>
      </p>
    </div>
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='images/imagen2.jpeg')}}" class="img-thumbnail custom-frame" alt="img2">
    </div>
  </div>
</div>
  <div>
      <center>
        <h2">La Frase que me representa es:</h2>
        <p style="font-size: xx-large; font-style:oblique; font-display: quotes;">"El flojo trabaja doble."</p>
      </center>
  </div>
</div>
{% endblock %}