{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block page_title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ url_for('register') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.usuario.label(class="form-control-label") }}
                        {{ form.usuario(class="form-control") }}
                        {% for error in form.usuario.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                        {% for error in form.password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </form>
                <div class="card-footer text-center">
                    <a href="{{ url_for('login') }}" class="btn btn-secondary">¿Ya tienes una cuenta? Inicia sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}